* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --fundo-desfocada: rgba(236, 68, 124, 0.342);
  --font-titulo: #fff;
  --paragrafos: rgb(140, 35, 182);
  --bordas: #f4db;
  --cor1gradiente: #cfb4bc;
}

.container-cabecalho {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, var(--cor1gradiente), var(--bordas));
  z-index: 1;
}

.cabecalho-logo {
  width: 200px;
  height: 100px;
  margin-left: 100px;
}

.cabecalho-logo img {
  width: 70%;
  height: 100%;
  background-color: #ffe4ec;
}

.cabecalho-navegacao {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}
.cabecalho-navegacao ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.cabecalho-navegacao a {
  text-decoration: none;
  color: var(--font-titulo);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 30px;
}

.cabecalho-navegacao a:hover {
  color: rgb(48, 42, 42);
  border-top: 1px solid rgb(48, 42, 42);
  border-bottom: 3px solid rgb(48, 42, 42);
  transition: 0.7s;
}

.cabecalho-banner img {
  width: 100%;
  height: 600px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cabecalho-banner {
  position: relative;
}

.titulo1 {
  position: absolute;
  top: 150px;
  left: 500px;
  font-size: 50px;
  color: var(--font-titulo);
  border-radius: 30px;
  padding: 2px 5px;
  background-color: var(--fundo-desfocada);
}

.titulo2 {
  position: absolute;
  top: 220px;
  left: 570px;
  font-size: 50px;
  color: var(--font-titulo);
  border-radius: 30px;
  padding: 2px 5px;
  background-color: var(--fundo-desfocada);
}

.botao {
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: rgb(243, 135, 220);
  border-radius: 50%;
}

.botao img {
  width: 100%;
}

.container-principal {
  width: 100%;
  height: auto;
}

.container-titulos {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  background-color: #9657a96e;
  margin: 30px 0;
}

.container-titulos h2 {
  font-size: 40px;
  color: var(--bordas);
  padding-top: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.servico-tipo .depoimento-paragrafo {
  width: 100%;
  height: auto;
}

.servico-tipo h3 {
  font-size: 30px;
  text-align: center;
  padding: 30px;
  color: var(--paragrafos);
}

.principal-sobre {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background: linear-gradient(to right, var(--cor1gradiente), var(--bordas));
}

.principal-sobre p {
  font-size: 20px;
  color: var(--paragrafos);
  line-height: 32px;
  width: 90%;
  flex: 1;
  padding: 10px;
}

.principal-sobre img {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.container-servicos .container-depoimentos {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
}

.servicos-imagem {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid var(--bordas);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px var(--fundo-desfocada);
}

.cilios-estilos {
  border: 1px solid var(--bordas);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-radius: 8px;
  background: linear-gradient(to top, var(--bordas), #ffe4ec);
}

.servicos-imagem figure {
  max-width: 300px;
  max-height: 300px;
  text-align: cente;
  padding: 10px;
}

.servicos-imagem img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.servicos-imagem figcaption {
  font-size: 16px;
  font-weight: bold;
  color: var(--paragrafos);
  text-align: center;
  text-transform: uppercase;
}

.servicos-imagem p {
  width: 250px;
  font-size: 18px;
  color: var(--paragrafos);
  text-align: left;
  line-height: 24px;
  padding: 20px;
}
.servicos-imagem .paragrafo-cilios {
  line-height: 34px;
  padding: 50px 10px;
}

.sobrancelha-estilo {
  width: 550px;
  height: auto;
  padding-bottom: 0;
}
.sobrancelha-estilo img {
  width: 150px;
  height: auto;
}

.sobrancelha-estilo p {
  width: 60%;
  text-align: left;
  color: var(--paragrafos);
  padding-bottom: 10px;
}

.depoimento-paragrafo {
  max-width: 100%;
  padding-top: 40px;
  background: linear-gradient(to right, var(--cor1gradiente), var(--bordas));
}

.depoimento-paragrafo p {
  color: var(--paragrafos);
  margin: 0 auto;
  width: 80%;
  font-size: 26px;
  text-align: center;
}

.depoimento-imagens {
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0 auto;
  padding: 40px 10px;
  background: linear-gradient(to right, var(--cor1gradiente), var(--bordas));
}

.depoimento-imagens img {
  width: 100%;
  height: auto;
  border: 1px solid var(--bordas);
  border-radius: 8px;
  object-fit: cover;
}

.container-localizacao{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.localizacao-map p {
  font-size: 30px;
  color: var(--paragrafos);
  font-weight: bold;
  padding-bottom: 40px;
}

.localizacao-map iframe{
  width: 80%;
  height: 50vh;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
}

.container-rodape {
  width: 100%;
  height: 300px;
  background-color: black;
  text-align: center;
}

.rodape-rede-social img {
  width: 50px;
  padding-top: 30px;
}

.rodape-contatos {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.rodape-contatos li {
  width: 250px;
  list-style: none;
  padding: 10px;
}

.rodape-contatos a {
  font-size: 18px;
  color: var(--font-titulo);
  text-decoration: none;
}

/*responsividade para notebook */

@media (max-width: 1200px) and (min-width: 768px) {
  .container-cabecalho {
    width: 100%;
    /* Centraliza o conteúdo */
  }

  .servicos-imagem, .rodape-contatos{
    max-width: 1024px;
  }

  

  
}
@media (max-width: 768px) and (min-width: 375px) {
  .container-cabecalho {
    width: 100%;
    /* Centraliza o conteúdo */
  }

  .cabecalho-logo {
    display: none;
  }

  .cabecalho-navegacao {
    width: 90vw;
    height: 20vh;
    margin: 0 auto;
  }
  .cabecalho-navegacao ul {
    width: 100vw;
    justify-content: center;
  }

  .cabecalho-navegacao a {
    font-size: 14px;
  }

  .cabecalho-banner img {
    background-size: cover;
  }

  .titulo1 {
    left: 24vw;
    top: 40vh;
    font-size: 2.3em;
  }

  .titulo2 {
    left: 34vw;
    top: 54vh;
    font-size: 2.2em;
  }
  .botao {
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 5px;
  }

  .servicos-imagem,
  .localizacao-map iframe,
  .rodape-contatos {
    width: 100%;
  }

  .principal-sobre {
    width: 100%;
    padding: 10px;
  }

  .principal-sobre p {
    font-size: 1em;
    line-height: 22px;
  }

  .container-titulos {
    width: 100%;
    height: 25vh;
  }

  .container-titulos h2 {
    font-size: 2.3em;
    padding-top: 25px;
  }

  .container-servicos {
    padding: 20px 0;
  }

  .servico-tipo h3 {
    font-size: 1.5em;
    padding: 10px;
  }

  .servicos-imagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: none;
  }

  .cilios-estilos img {
    width: calc(50% -10);
    max-width: 100%;
  }

  .cilios-estilos .paragrafo-cilios {
    width: 150px;
    font-size: 1em;
    line-height: 22px;
    padding: 10px;
  }

  .cilios-estilos img {
    width: 150px;
    height: 150px;
  }

  .sobrancelha-estilo {
    flex-direction: column;
    align-items: center;
  }

  .sobrancelha-estilo p {
    text-align: center;
    width: 500px;
  }

  .container-depoimentos {
    padding: 20px 0;
  }
}
