* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #ffe4ec;
}

:root {
  --fundo-desfocada: rgba(236, 68, 124, 0.342);
  --font-titulo: #fff;
}

.container-cabecario {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.cabecario-logo {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.cabecario-logo img {
  width: 70%;
  height: 100%;
  background-color: white;
}
.cabecario-navegacao ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 100px;
  padding: 10px;
}

.cabecario-navegacao a {
  text-decoration: none;
  color: var(--font-titulo);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 30px;
  background-color: palevioletred;
  transition: 0.5s;
}

.cabecario-navegacao a:hover {
  color: palevioletred;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgb(236, 68, 124);
}

.cabecario-banner img {
  width: 100%;
  height: 600px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cabecario-banner {
  position: relative;
}

.cabecario-banner .titulo1 {
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 50px;
  color: var(--font-titulo);
  border-radius: 30px;
  padding: 2px 5px;
  background-color: var(--fundo-desfocada);
}

.cabecario-banner .titulo2 {
  position: absolute;
  top: 260px;
  left: 270px;
  font-size: 50px;
  color: var(--font-titulo);
  border-radius: 30px;
  padding: 2px 5px;
  background-color: var(--fundo-desfocada);
}

.container-principal {
  width: 100%;
  height: auto;
}

.container-titulos {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  background-color: #9657a96e;
}

.container-titulos h2 {
  font-size: 40px;
  color: #F4DECB;
  padding-top: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}

.principal-sobre{
  width: 1200px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.principal-sobre p{
  font-size: 18px;
  color: #49374A;
  line-height: 32px;
  width: 90%;
  flex: 1;
  margin-left: 100px;
  padding:5px;
}

.principal-sobre img{
  width: 60%;
  flex: 1;
  display: flex;
  justify-content: center;
 
}